<div>
  <!-- about-details.component.html -->
  <div class="sun-click-container" (click)="goHome()">
    <div class="section-banner-sun"></div>
  </div>

  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <a href="assets/Ajay_dev.pdf" download class="download-cv-button"> CV </a>

  <div class="container main-content">
    <!-- About Section on the left -->

    <div class="about-section">
      <h1 class="about-title">About Me</h1>
      <p class="about-text" [innerHTML]="personalInfo.aboutLong"></p>
    </div>

    <!-- Skills and Tools Section on the right -->
    <div class="skills-tools-section">
      <!-- Skills Section -->
      <section class="skills-section">
        <h2>Skills</h2>
        <div class="skills-grid">
          <div class="skill" *ngFor="let skill of skills">
            <i [class]="skill.icon"></i>
            <span>{{ skill.name }}</span>
          </div>
        </div>
      </section>

      <!-- Tools Section -->
      <section class="tools-section">
        <h2>Tools</h2>
        <div class="tools-grid">
          <div class="tool" *ngFor="let tool of tools">
            <i [class]="tool.icon"></i>
            <span>{{ tool.name }}</span>
          </div>
        </div>
      </section>
    </div>
  </div>

  <h1 class="timeline-heading">TIMELINE</h1>
  <!-- Timeline Section -->
  <div class="timeline-container">
    <div class="timeline">
      <div class="timeline-item" *ngFor="let item of timeline; let i = index">
        <div class="timeline-dot" [class.active]="activeIndex === i"></div>

        <div class="timeline-content">
          <h3>{{ item.title }}</h3>
          <p class="timeline-description" [innerHTML]="item.description"></p>
        </div>
      </div>
      <div class="scroll-follower">
        <img src="assets/spaceship.svg" alt="Spaceship" />
      </div>
    </div>
  </div>

  <!-- Back Button at the bottom -->

  <button class="button" (click)="navigateToHome()">
    <div class="button-box">
      <span class="button-elem">
        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
          ></path>
        </svg>
      </span>
      <span class="button-elem">
        <svg viewBox="0 0 46 40">
          <path
            d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
          ></path>
        </svg>
      </span>
    </div>
  </button>
</div>
